@{
    ViewBag.Title = "Posts Listing";
        
 }
@using PagedList.Mvc;
@using PagedList;

<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<!-- loop through each of your products and display it however you want. we're just printing the name here -->
<h2>List of Posts</h2>
<p>
    @if (User.IsInRole("Writer")){
    @Html.ActionLink("Create New", "Create")
    }
</p>
<ul>
    @foreach(var post in ViewBag.Page){
        <li>
            <p><h3>@post.Title</h3> El autor es: @post.Author.UserName</p>
            <p>@post.Message</p>
            <p>Tags: <br />            
            @foreach (var tag in post.Tags)
            {
                @tag.Description
            }
            </p>
            <p>Respuestas: <br />
            @foreach (var reply in post.Replies)
            { 
                @reply.Message<br />
            }
            </p>
            @if (User.IsInRole("Admin"))
            {
            @Html.ActionLink("Edit", "Edit", new { id=post.Id }) 
            @Html.ActionLink("Details", "Details", new { id=post.Id }) 
            @Html.ActionLink("Delete", "Delete", new { id=post.Id })
            }
        </li>
    }
</ul>

<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager( (IPagedList)ViewBag.Page, page => Url.Action("Index", new { page }) )